.first-photo {
  background-image: url(../photo/main1.jpg);
  height: 100vh;
  position: relative;
  background-position: center center;
  background-size: 2000px;
}
.first-photo p {
  z-index: 10;
  color: #ffffff;
  font-size: 80px;
  position: absolute;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  font-weight: bold;
  display: none;
}

.second-photo {
  background-image: url(../photo/main2.jpg);
  height: 100vh;
  position: relative;
  background-position: center center;
  background-size: 2000px;
  display: none;
}
.second-photo p {
  z-index: 10;
  color: #ffffff;
  font-size: 80px;
  position: absolute;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  font-weight: bold;
  display: none;
}

.title-photo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.title-photo img {
  display: none;
  height: 100vh;
}
.title-photo img:nth-of-type(2) {
  height: 200px;
}

header {
  background-color: #ffffff;
  opacity: 0.8;
  width: 100%;
  padding: 5px 50px;
  font-weight: bold;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  border-bottom: 1px solid #293332;
  display: none;
  display: flex;
  justify-content: space-between;
}
header img {
  height: 80px;
}
header .header-right {
  display: flex;
  flex-direction: row;
}
header .header-right a {
  padding: 50px 10px 0 10px;
  color: #090909;
}

#top-wrapper {
  background-image: url(../photo/work_bg.png);
  background-position: center center;
  background-size: 1900px;
  height: 100vh;
}
#top-wrapper .right-p {
  width: 50%;
  float: right;
  padding: 100px 0;
}
#top-wrapper .right-p .size {
  font-size: 25px;
  padding-bottom: 20px;
}
#top-wrapper .right-p .while {
  padding-bottom: 10px;
}
#top-wrapper .right-p p {
  font-weight: bold;
  font-size: 15px;
}

.main-wrapper {
  padding-top: 100px;
}
.main-wrapper > div:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.main-wrapper > div:nth-of-type(1) p {
  font-size: 30px;
  font-weight: bold;
}
.main-wrapper > div:nth-of-type(1) img:nth-of-type(1) {
  width: 80px;
  height: 150px;
}
.main-wrapper img:nth-of-type(1) {
  width: 100%;
}
.main-wrapper img:nth-of-type(2) {
  width: 60%;
  margin: 0 auto;
}

#recruit {
  background-image: url(../photo/recruite_bg.png);
  background-position: center center;
  padding: 100px 0;
  height: 100vh;
  background-size: 1900px;
}
#recruit p {
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
}
#recruit .title {
  font-size: 35px;
  padding: 30px 0;
}
#recruit .sub_title {
  background-color: rgba(54, 50, 52, 0.7);
  border-radius: 10px;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 15px;
}
#recruit .first-block {
  display: flex;
  justify-content: center;
}
#recruit .first-block div {
  background-color: rgba(54, 50, 52, 0.7);
  width: 300px;
  height: 300px;
  border-radius: 10px;
}
#recruit .first-block div:nth-of-type(2) {
  margin-left: 20px;
}
#recruit .second-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  background-color: rgba(54, 50, 52, 0.7);
  width: 620px;
  height: 130px;
  border-radius: 10px;
  margin-top: 20px;
}

.company {
  padding: 210px 0;
  height: 100vh;
}
.company > p {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}
.company > div:nth-of-type(1) {
  justify-content: center;
}
.company img {
  height: 150px;
}
.company .company1 {
  display: flex;
  flex-direction: column;
}
.company div {
  display: flex;
  flex-direction: row;
}
.company div p {
  padding: 20px 20px;
}
.company div > p:nth-of-type(1) {
  text-align: center;
  width: 200px;
  height: 50px;
}
.company div > p:nth-of-type(2) {
  width: 580px;
  height: 50px;
}

.contact {
  padding-bottom: 100px;
}
.contact > div:nth-of-type(1) {
  display: flex;
  justify-content: center;
}
.contact > div:nth-of-type(1) p {
  font-size: 30px;
  line-height: 120px;
}
.contact > div:nth-of-type(1) img {
  height: 120px;
}
.contact > p {
  text-align: center;
  padding-bottom: 20px;
  font-size: 15px;
}
.contact .contact-block > div {
  display: flex;
  justify-content: center;
  text-align: left;
  padding: 5px 0;
}
.contact .contact-block > div:nth-of-type(6) {
  padding-bottom: 50px;
}
.contact .contact-block p {
  width: 200px;
}
.contact .contact-block input {
  width: 500px;
  height: 30px;
}
.contact .contact-block textarea {
  width: 500px;
  height: 150px;
  resize: none;
}
.contact .contact-block .contact1 {
  line-height: 150px;
}
.contact .check {
  margin: 0 auto;
  padding: 0;
  display: block;
}

/*# sourceMappingURL=styles.css.map */
